<iframe width='800' height='400' frameBorder='0' src='http://a.tiles.mapbox.com/v3/morochena.map-b3wbutma.html#16/39.08551233997509/-77.15010523796082'></iframe>

<h1>Listing events</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Event type</th>
      <th>Location</th>
      <th>Address</th>
      <th>Posted by</th>
      <th>Description</th>
      <th>Person sought</th>
      <th>Objective</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.event_type %></td>
        <td><%= event.location %></td>
        <td><%= event.address %></td>
        <td><%= event.posted_by %></td>
        <td><%= event.description %></td>
        <td><%= event.person_sought %></td>
        <td><%= event.objective %></td>
        <td><%= event.latitude %></td>
        <td><%= event.longitude %></td>
        <td><%= event.user_id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
